.big-letters {
    background-color: red;
    mix-blend-mode: overlay;
    min-height: 10rem;
    font-size: 500%;
    display: flex;
    align-items: center;
    padding: 10rem;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.noise {
    /* margin-top: -15%; */
    width: 100%;
    height: 120%;
    background: radial-gradient(circle at 50% 50%,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0)),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 600 600' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    filter: contrast(145%) brightness(650%) invert(100%);
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
    .noise {
        filter: contrast(125%) brightness(650%) invert(0%);
        mix-blend-mode: screen;
    }
}

.circle {
    width: 200px;
    height: 200px;
    background-color: antiquewhite;
    border-radius: 50%;
}